@page "/counter"

<PageTitle>カウンター | NEO-SC</PageTitle>

<h1>カウンター</h1>

<p role="status">カウント回数: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">クリック</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
