@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://gitlab.com/lemon73/skycolors/" target="_blank">Develop</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
